h1 {
    font-size:60px;
}
h2 {
    position: relative;
    top: -10px;
	font-size:35px;
}
section {
    color:white;
}
p {
	font-size:30px;
	margin-left: 900px;
	margin-right: 900px;
}
.img1 {
  width: 15%;
  height: auto;
}
.img2 {
  width: 40%;
  height: auto;
}
.img3 {
  width: 30%;
  height: auto;
}